   
.recipe-box
    height: 400px
    //opacity: .75
  

.text-black
    background-color: #333333d3
    font-weight: bold
    font-size: 20px 
    border-radius: 14px
    margin-top: 1em
    padding: 1em
   

.max-height
    max-height: 400px

.recipes-name-title
    background-color: #333333d3
    color: #FFD84D
    font-size: 25px
    font-weight: bold
    border-radius: 14px
    margin-bottom: 1em

.details-btn
    margin: 0.5em
    background-color: #5CD076
    color: white
    text-align: center
    border-radius: 14px
    border: 0
