.recipe-page
    background-color: white
    margin: -10% 0%
    
    
.image-fluid
    height: auto
    max-width: 100%
 

.recipe-page-title
    background-color: #85858548
    text-align: center

.recipe-name
    color: #28a745
    margin:  1em 0 0.5em 


.recipe-detail
    padding-bottom: 5%
    text-align: center
    margin-top: 9em
    margin-bottom: 9em

.steps
    color: #28a745
    margin:  1em 0 0.5em 

.ingredients-title
    color: #28a745
    margin:  1em 0 0.5em 

.margin-top
    margin-top: 10px

.recipe-title
    background-color: #28a745
    color: white
    
.page
    padding-bottom: 5em
