.notfound 
  position: absolute
  left: 50%
  top: 50%


.notfound .notfound-404 
  height: 190px


.title-404
  font-family: 'Montserrat', sans-serif
  font-size: 25vw
  font-weight: 700
  margin: 1vw 0 0
  text-shadow: 1vw 1vw 10px #33333363

.cookie
  display: inline-block
  width: 18vw
  height: 18vw
  background-image: url("http://www.transparentpng.com/thumb/cookie/cookie-png-clipart-17.png")
  background-size: cover
  

.message-404
  margin: 0 4em
 
.button-class
  text-align: center
  margin: 1em

.btn-goback
  color: #ffc107
  text-align: center
  margin: 4vw 0
  font-weight: bold
  &:hover
    color: #dba400
    font-weight: bolder
    font-size: 1.2em

.link-404
  &:hover
    color: #dba400
    font-weight: bolder
    font-size: 1.2em