.avatar-img
 width: 35vw
 float: left

.user
    background-color: #c5c5c570
    

.password
    background-color: #c5c5c570

.objectif
    background-color: #c5c5c570

.change-password
    background-color: #FFD84D
    color: white
    text-align: center
    border-radius: 14px
    border: 0
    margin-top: 0.4em

.container
    margin-bottom: 4em






    


