.AccountBackground
    background-image: url("../../ressources/pictures/MonProfil.jpg")
    max-width: 100%
    height: auto
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-attachment: fixed
    
.avatar-img
    width: 35vw
    float: left

.user
    background-color: #c5c5c570
    

.password
    background-color: #c5c5c570

.objectif
    background-color: #c5c5c570

.change-password
    background-color: #FFD84D
    color: white
    text-align: center
    border-radius: 14px
    border: 0
    margin-top: 0.4em

.container
    margin-bottom: 4em

.MyAccount-title
    text-align: center
    color: #FFD84D
    margin-bottom: 1em




