.nav-item
    width: 25%    

.nav-height 
    height: 120px

.nav-link
    text-decoration: none
    font-weight: bold


.margin-bottom 
    margin-bottom: 20px

.font-size .radius
    border-radius: 0 0 20px 20px

.font-size a
    font-size: 1em
    font-weight: normal
    font-family: arial

.logo
    width: 200px

a
 &:hover 
  color: #28a745
  text-decoration: none
  height: auto


.deco
 color: #D74425
 &:hover
        text-decoration-line: line-through
        color: red