body
 font-family: 'Roboto Slab', serif



.food-image
 background-image: url("../../ressources/pictures/strawberry-sandwich.png")
 background-position: center
 background-repeat: no-repeat
 background-size: 150%
 /* position: fixed */
 height: 50vh


.in-image-text
 
 font-size: 1.4em
 padding: auto
 margin: auto
