.contactpage-background
    background-image: url("../../ressources/pictures/Contact-BackGround.jpg")
    max-width: 100%
    height: auto
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    

.contact-zone
    background-color: #25252575
    padding: 1em
    text-align: center

.contact-title
    font-weight: bold
    color: #28a745
    margin-bottom: 2em

.contact
    background-color: #ffffff
    margin: 1em 0.5em
    border-radius: 5px

.photo-container
    align-content: space-between
    width: 150px
    padding: .5em
    background-color: #28a745

.photo-contact
    width: 130px
    height: 120px
    

strong
    font-weight: bold