


.food-image
    background-image: url("../../ressources/pictures/Contact-BackGround.jpg")
    background-size: cover
    background-repeat: no-repeat
    height: 150%
    //width: 100%
    

.contact-zone
    background-color: #33333367
    color: white
    text-align: center
    max-width: 40%
    padding: 2em
    
    

.mail-adress
    background-color: #FFD84D
    border-radius: 14px
    margin: 10%


.postal-adress
    background-color: #FFD84D
    border-radius: 14px
    margin: 10%



   

