.Contact-background
    background-image: url("../../ressources/pictures/Banana.jpg")
    max-width: 100%
    height: auto
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-attachment: fixed

.ContactBlock
    background-color: #333333d3
    margin: 0 10%
    text-align: center

h4
    background-color: #FFD84D
    color: white
    border-radius: 14px
    margin: 10%
    padding: 1em
    
    






   

